#login-form, #signup-form
  padding: $default-padding
  background: rgba($bg-color, 0.95)
  border-radius: 5px
  max-width: 350px
  +total-center
  color: white
  fieldset
    padding: 0
  input[type=text], input[type=password], input[type=email]
    width: 300px
    margin-bottom: $default-margin
    border: none
    border-radius: 3px
    background: #fefefe
    padding: 12px
    background: white
    +placeholder
      color: black
  +media($mobile)
    width: 80%
    padding: $default-padding
    position: inherit
    margin-left: 10%
    margin-top: 10%
    top: auto
    left: auto
    +transform(translate(0,0))
    input[type=text], input[type=password], input[type=email]
      width: 100%