#main-navigation
  background: #333
  a
    color: white

.main-navigation-list
  padding: $default-padding 0

.main-navigation-list-item
  display: inline
  margin-right: $default-margin
  position: relative
  &.login, &.logout, &.dash, &.mobile, &.signup, &.mobile-map, &.mobile-avatar
    float: right
    margin-right: 0
    margin-left: $default-margin
  &.index
    font-weight: bold
    margin-right: $default-margin*2
    +media($tablet)
      margin-right: 0
    &.active
      z-index: 99999
      position: relative
  &.mobile, &.mobile-map, &.mobile-avatar
    display: none
    color: white
  &.login, &.logout, &.signup
    a
      margin-top: -11px
  &.admin
    a
      color: $dark-red!important
  &.mobile-map
    margin-left: 0
    a
      margin-top: -4px
    a, img
      display: block
    img
      height: 26px
  +media($mobile)
    vertical-align: bottom
    margin-left: $default-margin/2!important
    &.tour, &.blog, &.poi, &.user, &.category, &.favourites
      display: none
    &.mobile, &.mobile-map, &.mobile-avatar
      display: block

.main-navigation-avatar
  +size(20px)
  border-radius: 50%
  .mobile-avatar &
    +size(26px)
    margin-top: -4px

#mobile-navigation
  +cover-all
  z-index: -1
  background: rgba(black, 0.9)
  opacity: 0
  +transition(opacity .3s)
  &.active
    opacity: 1
    z-index: 9999

.mobile-navigation-list
  +total-center
  width: 55%

.mobile-navigation-list-item
  margin-bottom: $default-margin/2
  text-align: center
  padding: $default-padding/2 0 $default-padding 0
  &:not(:last-child)
    border-bottom: 1px solid white
  a
    color: white
    font-size: 1.2em
    font-weight: bold
  &.highlight
    a
      color: $highlight!important
  &.secondary
    a
      color: $secondary!important
  &.admin
    a
      color: $dark-red!important
  &.dash
    img
      vertical-align: bottom
    span
      display: inline-block
      margin-left: $default-margin/2
      color: $secondary

.js-mobile-menu-link
  &.active
    z-index: 99999
    position: relative

.favourite-counter
  position: absolute
  top: -9px
  right: -16px
  color: white
  +size(15px)
  border-radius: 50%
  text-align: center
  line-height: 19px
  font-size: 12px
  font-weight: bold
  display: inline-block
  &.active
    background: $highlight