#venue-wrapper
  +media($mobile)
    +calc(height, "100% - 47px")
    width: 50%
    float: left
    +transition(transform .3s)
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    &.active
      +transform(translateX(-100%))

#venues
  margin-top: $default-margin*3
  +media($mobile)
    margin-bottom: $default-margin

#venue
  margin-top: $default-margin*2
  +media($mobile)
    margin-bottom: $default-margin
  .fa-heart
    color: $red

#venue-description
  +span-columns(12)
  +omega
  margin-bottom: $default-margin

#venue-gallery, #venue-info
  +span-columns(6)
  +omega(2n)
  margin-bottom: $default-margin
  +media($mobile)
    +span-columns(12)
    +omega

#venue-main-image
  margin-bottom: $default-margin/2
  background: black

#venue-hero-image
  display: block
  width: 100%
  max-width: 100%

.venue-gallery-list
  +span-columns(12)
  +omega

.venue-gallery-list-item
  +span-columns(3)
  +omega(4n)
  margin-bottom: $default-margin/2
  border: 1px solid transparent
  cursor: pointer
  +transition(border-color 0.3s ease-out)
  img
    display: block
  &.selected
    border: 1px solid white

#venue-search
  +size(100%)
  +media($mobile)
    +size(200% 100%)
    float: left

#venue-nav
  display: none
  +media($mobile)
    display: block
    position: fixed
    bottom: 0
    left: 0
    right: 0

#venue-main-image
  position: relative

#venue-gallery-nav
  +vertical-center
  width: 100%

.venue-gallery-nav
  cursor: pointer
  color: white
  &.left
    float: left
    margin-left: $default-margin/2
  &.right
    float: right
    margin-right: $default-margin/2
  &.last
    display: none

.maki-icon-wrapper
  +horizontal-center
  margin-top: $default-margin
  +size(30px 45px)
  bottom: -30px
  padding-top: 15px
  border-radius: 0 0 5px 5px
  color: white
  text-align: center
  z-index: -1
  i
    margin-top: 2px
  +media($tablet)
    +total-center
    +size(45px 30px)
    left: -5%
    text-align: left
    padding-top: 0
    padding-right: 15px
    border-radius: 5px 0 0 5px
    top: 25%

.back-link-wrapper
  +span-columns(12)

.js-reset-filter-button
  display: none
  &.active
    display: block