#venue-wrapper
  +media($mobile)
    +calc(height, "100% - 47px")
    width: 50%
    float: left
    +transition(transform .3s)
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    &.active
      +transform(translateX(-100%))

#venues
  margin-top: $default-margin*3
  +media($mobile)
    margin-bottom: $default-margin

#venue-search
  +size(100%)
  +media($mobile)
    +size(200% 100%)
    float: left

#venue-nav
  display: none
  +media($mobile)
    display: block
    position: fixed
    bottom: 0
    left: 0
    right: 0

.maki-icon-wrapper
  +horizontal-center
  margin-top: $default-margin
  +size(30px 45px)
  bottom: -30px
  padding-top: 15px
  border-radius: 0 0 5px 5px
  color: white
  text-align: center
  z-index: -1
  i
    margin-top: 2px
