label for="title" Titel:
input type="text" name="category[title]" value="#{@category.title}" size="32" placeholder="Titel"
br
label for="synopsis" synopsis:
input type="text" name="category[synopsis]" value="#{@category.synopsis}" size="32" placeholder="synopsis"
br
br