label for="title" Titel:
input type="text" name="category[title]" value="#{@category.title}" size="32" placeholder="Titel"
br
label for="synopsis" synopsis:
input type="text" name="category[synopsis]" value="#{@category.synopsis}" size="32" placeholder="Synopsis"
br
br
label for="icon" icon:
input type="text" name="category[icon]" value="#{@category.icon}" size="32" placeholder="Icon"
br
br