@import bourbon
@import grid/grid-settings
@import neat

@import fontawesome/font-awesome
// @import url(https://fonts.googleapis.com/css?family=Vollkorn)

@import settings/foundation
@import settings/mixins
@import settings/color
@import settings/variables
@import settings/animate

@import elements/flash
@import elements/card
@import elements/button
@import elements/form
@import elements/grid

@import specific/navigation
@import specific/map
@import specific/venue
@import specific/admin
@import specific/login


// Test Styles
// ------------------------------------
body
  background: #fefefe

.container
  +outer-container
  padding: 0 $default-padding/2

main
  +media($mobile)
    width: 100vw
    +calc(height, "100vh - 56px")
    // overflow: hidden